c_compiler:          # [osx]
  - clang_bootstrap  # [osx]
cxx_compiler:        # [osx]
  - clang_bootstrap  # [osx]

# Starting from LLVM 14, the ABI of libclang doesn't necessarily
# match the major version anymore - cf. #170 and
# https://github.com/llvm/llvm-project/issues/54004
libclang_soversion:
  - 13

variant:
  - default
  - hcc   # [linux]

channel_targets:
  - conda-forge llvm_rc

channel_sources:
  - conda-forge/label/llvm_rc,conda-forge
